.clock-in{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-in {
    border-radius: 50%;
    width: 40vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clock-colors);
    transition: all 1s;
}
.cifferblatt-in {
    border-radius: 50%;
    width: 35vh;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blatt-color);
    transition: all 1s;
}
.s-arm-in {
    width: 70%;
    height: 0.5vh;
    margin: auto;
    margin: -35%;
}
.m-arm-in {
    width: 60%;
    height: 0.75vh;
    margin: auto;
    margin: -30%;
}
.h-arm-in {
    width: 40%;
    height: 1vh;
    margin: auto;
    margin: -20%;
}
.secarm-real-s-in{
    width: 50%;
    height: 0.5vh;
    background-color: var(--clock-colors);
}
.secarm-real-m-in{
    width: 50%;
    height: 0.75vh;
    background-color: var(--clock-colors);
}
.secarm-real-h-in{
    width: 50%;
    height: 1vh;
    background-color: var(--clock-colors);
}
.central-point-in{
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    margin: -0.5vh;
    background-color: var(--clock-colors);
}
.clock-wrapper {
    background-color: rgba(100, 100, 100, 0.5);
    width: 30%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#test{
    display: flex;
    justify-content: center;
    align-items: center;
}
#hours {
    font-family: "Digital";
    font-size: 60px;
    margin-top: 30px;
    display: inline;
    margin-right: 30px;
}