:root{
    --clock-colors: white;
    --blatt-color: #343a40;
    
}
#current {
    overflow: hidden;
    padding: 50px;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    border-radius: 50%;
    width: 60vh;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clock-colors);
    transition: all 1s;
}
.cifferblatt {
    border-radius: 50%;
    width: 55vh;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blatt-color);
    transition: all 1s;
}
.s-arm {
    width: 70%;
    height: 0.5vh;
    margin: auto;
    margin: -35%;
}
.m-arm {
    width: 60%;
    height: 0.75vh;
    margin: auto;
    margin: -30%;
}
.h-arm {
    width: 40%;
    height: 1vh;
    margin: auto;
    margin: -20%;
}
.secarm-real-s{
    width: 50%;
    height: 0.5vh;
    background-color: var(--clock-colors);
}
.secarm-real-m{
    width: 50%;
    height: 0.75vh;
    background-color: var(--clock-colors);
}
.secarm-real-h{
    width: 50%;
    height: 1vh;
    background-color: var(--clock-colors);
}
.central-point{
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    margin: -0.5vh;
    background-color: var(--clock-colors);
}
.h2h{
    transform: rotate(30deg);
    left: 81%;
    top: 10%;
}
.h3h{
    transform: rotate(60deg);
    left: 90%;
    top: 10%;
}
.h4h{
    transform: rotate(90deg);
    left: 95%;
    top: 20%;
}
.h5h{
    transform: rotate(120deg);
    left: 80%;

}
.h2h{
    transform: rotate(30deg);
    left: 70%;
}
.text-center{
    margin-bottom: 70px;
}
#country{
    margin-top: 50px;
}